/*
	Color palette
	#2B2D42 = dark blue
	#8D99AE = light blue
	#EDF2F4 = blue white ish
	#EF233C = red
	#D2E9BA = Light greenish
*/

/* border box fix */
/* changes the sizing calculations to include the padding and border sizing into the element's overall size
	ex: 
		width: 300px, padding: 20px, border: 10px,
		then it's content: 270px + padding + border = width;
		*/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


/* Global styles */
body
{
	font-family: 'Open Sans', sans-serif;
	margin: 0;
}
a
{
	color: #EF233C;
}
a:hover
{
	color: white;
}
h1, h2 
{
  font-family: 'Caveat', cursive;
  font-weight: 400;
}
h1 
{
  font-size: 80px;
}
h2 
{
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 10px;
}
h3
{
	margin: 0;
}

p + h3
{
	margin-top: 30px;
}

.btn
{
	background: #EF233C;
	text-decoration: none;
	display:inline-block;
	padding: 10px;
	color: white;
}

/* the parent has position relative to prevent element from moving outside of container */
.download
{
	position: absolute;
	bottom: 0;
	right: 0;
}
/*wrapper class to align content */
.content-wrapper
{
	width: 70%;
	margin: 0 auto;
	padding: 60px 50px;
	overflow: hidden; /*Needed cause of floated elements within the child tags*/
}
/* col-left = the contents on the left of the site
   col-right = the contents on the right of the site
   two column layout
 */
.col-left
{
	width:35%;
	float:left;
	padding-right:2%;

}

.col-right
{
	width:65%;
	float:left;
	padding-left: 3%;
	border-left:1px solid;
	margin-bottom:25px;
}

/* applies to first p tag under the col-right class*/
.col-right p:first-of-type
{
	margin-top: 0;
}

.uppercase
{
	text-transform: uppercase;
}
header .col-right
{
	border: none;
	margin:0;
}
header
{
	padding-top:30px;
	position: relative;
}

/* Header and Footer */
header, footer
{
  	background: #2B2D42;
  	color: #8D99AE;
}
header h1, header h2
{
	color: #EDF2F4;
	margin: 0;
}
footer
{
	text-align: center;
}

/* Navigation Bar */
nav
{
	text-align: center;
	background: #2B2D42;
	position:fixed;
	top:0;
	width:100%;
}

nav a
{
	text-decoration: none;
	text-transform: uppercase;
	padding: 15px 20px;
	font-weight: 700;
	display: inline-block;
}


.profile
{
	border-radius: 50%;
}

/* spacing for contact info links */
.contact-info a
{
	margin: 10px;
	padding: 10px;
	display: inline-block;
}
/* Work Experience */
.work-experience
{
	background: #EDF2F4;
}

/* a general sibling selector, applies on any paragraph siblings of an h3 tag*/
h3 ~ p
{
	margin: 0;
}
/* Education */
.education
{
	background: #D2E9BA;
}
/* Project */
.projects
{
	background: #8D99AE;
}
.project-images
{
	width: 300px;
}